# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log
.pnpm-store/
dist/
build/
coverage/
.npm/
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.*
!/.env.example

# Docker
Dockerfile
docker-compose.yml

# Specify
.specify/
jules-scratch/
specs/

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
